@charset "utf-8";

// Import a Google Font
//@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$band-black: #111111;
$special-text: hsl(0, 75%, 50%);

// Update Bulma's global variables
$black: #111111;
$text: #ffffff;
$primary: hsl(171, 60%, 35%);


// Update some of Bulma's component variables
//-----------------------------------
//Examples
//$body-background-color: $beige-lighter;
//$control-border-width: 2px;
//$input-border-color: transparent;
//$input-shadow: none;
//---------------------------------


//custom footer background color
footer.footer {
    background-color: $band-black;
    h2 {
        color: $special-text;
    }
}


//for admin profiles
[v-cloak] {
    display: none;
}


// Import only what you need from Bulma
@import "../bulma/sass/utilities/_all.sass";
@import "../bulma/sass/base/_all.sass";
@import "../bulma/sass/elements/_all.sass";
@import "../bulma/sass/form/_all.sass";
@import "../bulma/sass/components/_all.sass";
@import "../bulma/sass/layout/_all.sass";
@import "../bulma/sass/form/_all.sass";
@import "../bulma/sass/grid/_all.sass";
@import "../bulma/sass/helpers/_all.sass";
