[[extend 'layout.html']]

<div class="section has-background-dark">
  <div class="container">
    <figure class="image is-256x256">
      <img src="https://storage.googleapis.com/luca-teaching/logo.png">
      <!-- placeholder image from homework assignment 1 -->
    </figure>
  </div>
  <div class="container mt-6">
    <div class="content has-text-centered has-text-white">
      <p>The plan is to build a band website where users can go to access information, media, and purchase band related merchandise.
         Users will be able to interact with each other as well as the band. What sets this band website apart from most band websites is the user interaction with the media. Users will be able to leave comments on media and merchandise as well as submit their own media such as fan art or pictures related to the band.
         We want to capture the aesthetic of a Band subreddit or Band youtube channel where users can interact with the artist all from within one website. Overall we aim for a simplistic user experience with several different areas for the user to experience direct and indirect interaction with the band and its content.
	       We want to create a community hub for fans to interact with that will help drive interest in the band. We want to support a variety of comments sections and reviews for the merch to create a sense that the fans actively participate in the community.
      </p>
      <!-- placeholder text -->
    </div>
  </div>

</div>
