[[extend 'layout.html']]

<div class="section has-background-dark">
  <div class="container has-text-centered">
      <img width="500" height="441" src="images/NoisyNeighbor.png">
  </div>
  <div class="container mt-6">
    <div class="content has-text-white">
      <p class="pb-3 mx-6 px-6">&emsp;&emsp;The Takeouts started out as a high school project between three friends looking for an outlet
          to express the weirdness they bonded over. After several months of covering classic punk-rock
          songs and an "attempt" at writing original material, the band took to the stage to learn
          how to play music in front of real life people. This was unsuccessful. But this did not
          deter the band from procrastinating more and continuing to play music together. Finally,
          in the summer of 2020, the band put together a debut album titled "Mac 'N Cheeze" and experienced
          success with songs such as "Cold" and "She Loves Me". </p>
        <p class="pb-3 mx-6 px-6">&emsp;&emsp;With all that the pandemic had to offer
          The Takeouts found a new lead singer in the brother of bassist Gavin. Fresh on the mic, Jake,
          brought something to the table that The Takeouts had been missing. An experienced vocalist and songwriter,
          Jake, introduced the band to Noisy Neighbor Studios and quickly the band was on to the next step of
          recording a new E.P. After the release of their new material titled "Weekend At Barretts", The Takeouts
          look to release a full length album in the summer of 2021 with no constraints and musical styles
          that know no boundaries. Stay tuned for new music from The Takeouts this summer!
      </p>
      <!-- placeholder text -->
    </div>
  </div>

</div>
