[[extend 'layout.html']]

<div class="section has-background-dark">
  <div class="title has-text-centered">
    <h1 class="title has-text-white"> Admin page temp </h1>
  </div>
  <div class="container">
      <a class='button is-primary' href="[[=URL('adminButton', signer=url_signer)]]">
          admin button
      </a>
      <a class='button is-info' href="[[=URL('add_video')]]">
          add new video
      </a>
  </div>
  <div class="title has-text-centered">
    <h2 class="title has-text-white"> Select front video </h2>
  </div>
  <table class="table is-fullwidth is-striped">
    <thead>
      <th> Video Name </th>
      <th> URL </th>
      <th> </th>
    </thead>
    <tbody>
      [[for v in vidRows:]]
        <tr>
          <td>[[=v.video_name]]</td>
          <td>[[=v.video_url]]</td>
          <td>
            <a 
              class='button is-warning'
              href="[[=URL('bump_video', v.id, signer=url_signer)]]"
            >
              Bump to Front
            </a>
            <a 
              class='button is-danger'
              href="[[=URL('delete_video', v.id, signer=url_signer)]]"
            >
              <span class="icon"><i class="fa fa-fw fa-trash"></i></span>
          </a>
          </td>
        </tr>
      [[pass]]
    </tbody>
  </table>
</div>
