[[extend 'layout.html']]

<div class="section has-background-dark">
  <div class="title has-text-centered">
    <h1 class="title has-text-white"> Admin page temp </h1>
  </div>
  <div class="container">
      <a class='button is-primary' href="[[=URL('adminButton', signer=url_signer)]]">
          admin button
      </a>
      <a class='button is-info' href="[[=URL('add_video')]]">
          add new videos
      </a>
      <a class='button is-warning' href="[[=URL('bump_video', 5, signer=url_signer)]]">
          bump
      </a>
  </div>

</div>
