[[extend 'layout.html']]

<div class="section has-background-dark" id="vue-target">
  <div class="container" v-cloak>
    <h1 class="title has-text-white">
      Edit item: [[=item.id]] from the Merch Store
    </h1>

    <div class="columns">

      <div class="column">
        <div class="box is-flex has-background-grey has-text-centered is-size-4 has-text-black">
          <div class="is-flex-grow-1">
            Item Name: 
            <span v-if="!editing.name" class="has-text-dark">
              {{item.name}}
            </span>
            <div class="columns" v-else>
              <div class="column is-two-thirds">
                <div class="field">
                  <div class="control">
                    <input type="text" v-model="item.name" class="input">
                  </div>
                </div>
              </div>
              <div class="column is-1">
                <div class="is-flex">
                  <span 
                    class="button is-info"
                    @click="edit_field('name')"
                  >
                    Submit
                  </span>
                  <span 
                    class="button ml-1"
                    @click="toggle_edit('name')"
                  >
                    Cancel
                  </span>
                </div>
              </div>
            </div>
          </div>
          <span 
            class="button is-warning"
            v-if="!editing.name"
            @click="toggle_edit('name')"
          >
            Edit
          </span>
        </div>
      </div>

      <div class="column">
        <div class="box is-flex has-background-grey has-text-centered is-size-4 has-text-black">
          <div class="is-flex-grow-1">
            Image Path: 
            <span v-if="!editing.image_path" class="has-text-dark">
              {{item.image_path}}
            </span>
            <div class="columns" v-else>
              <div class="column is-two-thirds">
                <div class="field">
                  <div class="control">
                    <input type="text" v-model="item.image_path" class="input">
                  </div>
                </div>
              </div>
              <div class="column is-1">
                <div class="is-flex">
                  <span 
                    class="button is-info"
                    @click="edit_field('image_path')"
                  >
                    Submit
                  </span>
                  <span 
                    class="button ml-1"
                    @click="toggle_edit('image_path')"
                  >
                    Cancel
                  </span>
                </div>
              </div>
            </div>
          </div>
          <span 
            class="button is-warning"
            v-if="!editing.image_path"
            @click="toggle_edit('image_path')"
          >
            Edit
          </span>
        </div>
      </div>

    </div>

    <div class="columns">

      <div class="column">
        <div class="box is-flex has-background-grey has-text-centered is-size-5 has-text-black">
          <div class="is-flex-grow-1">
            Price: 
            <span v-if="!editing.cost" class="has-text-dark">
              $ {{item.cost}}
            </span>
            <div class="columns" v-else>
              <div class="column is-half">
                <div class="field">
                  <div class="control">
                    <input type="text" v-model="item.cost" class="input">
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="is-flex">
                  <span 
                    class="button is-info"
                    @click="edit_field('cost')"
                  >
                    Submit
                  </span>
                  <span 
                    class="button ml-1"
                    @click="toggle_edit('cost')"
                  >
                    Cancel
                  </span>
                </div>
              </div>
            </div>
          </div>
          <span 
            class="button is-warning"
            v-if="!editing.cost"
            @click="toggle_edit('cost')"
          >
            Edit
          </span>
        </div>
      </div>

      <div class="column">
        <div class="box is-flex has-background-grey has-text-centered is-size-5 has-text-black">
          <div class="is-flex-grow-1">
            Stock: 
            <span v-if="!editing.stock" class="has-text-dark">
              {{item.stock}}
            </span>
            <div class="columns" v-else>
              <div class="column is-half">
                <div class="field">
                  <div class="control">
                    <input type="text" v-model="item.stock" class="input">
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="is-flex">
                  <span 
                    class="button is-info"
                    @click="edit_field('stock')"
                  >
                    Submit
                  </span>
                  <span 
                    class="button ml-1"
                    @click="toggle_edit('stock')"
                  >
                    Cancel
                  </span>
                </div>
              </div>
            </div>
          </div>
          <span 
            class="button is-warning"
            v-if="!editing.stock"
            @click="toggle_edit('stock')"
          >
            Edit
          </span>
        </div>
      </div>

      <div class="column">
        <div class="box is-flex has-background-grey has-text-centered is-size-5 has-text-black">
          <div class="is-flex-grow-1">
            Type: 
            <span v-if="!editing.type" class="has-text-dark">
              {{item.type}}
            </span>
            <div class="columns" v-else>
              <div class="column is-half">
                <div class="field">
                  <div class="control">
                    <input type="text" v-model="item.type" class="input">
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="is-flex">
                  <span 
                    class="button is-info"
                    @click="edit_field('type')"
                  >
                    Submit
                  </span>
                  <span 
                    class="button ml-1"
                    @click="toggle_edit('type')"
                  >
                    Cancel
                  </span>
                </div>
              </div>
            </div>
          </div>
          <span 
            class="button is-warning"
            v-if="!editing.type"
            @click="toggle_edit('type')"
          >
            Edit
          </span>
        </div>
      </div>

    </div>

    <div class="columns">

      <div class="column">
        <div class="box is-flex has-background-grey has-text-centered is-size-4 has-text-black">
          <div class="is-flex-grow-1">
            Description: 
            <span v-if="!editing.description" class="has-text-dark">
              {{item.description}}
            </span>
            <div class="columns" v-else>
              <div class="column is-four-fifths">
                <div class="field">
                  <div class="control">
                    <input type="text" v-model="item.description" class="input">
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="is-flex">
                  <span 
                    class="button is-info"
                    @click="edit_field('description')"
                  >
                    Submit
                  </span>
                  <span 
                    class="button ml-1"
                    @click="toggle_edit('description')"
                  >
                    Cancel
                  </span>
                </div>
              </div>
            </div>
          </div>
          <span 
            class="button is-warning"
            v-if="!editing.description"
            @click="toggle_edit('description')"
          >
            Edit
          </span>
        </div>
      </div>

    </div>
  </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let item = {
    'name': '[[=item.item_name]]',
    'cost': parseFloat('[[=item.item_cost]]'),
    'stock': parseInt('[[=item.item_stock]]'),
    'description': '[[=item.item_description]]',
    'image_path': '[[=item.item_image]]',
    'type': '[[=item.item_type]]',
    'id': '[[=item.id]]'
  };
  let update_item_url = "[[=XML(update_item_url)]]"
  let check_admin_url = "[[=URL('check_admin')]]";
  let global_email = "[[=globals().get('user').get('email')]]";
</script>
<script src="js/merch.js"></script>
[[end]]