[[extend 'layout.html']]

<div class="section has-background-dark" id="vue-target">
  [[if globals().get('user'):]]
    <a
      class="button is-link"
      href="[[=URL('admin')]]"
      v-if="admin_flag"
    >
      admin
    </a>
  [[pass]]
  <div class="title has-text-centered pt-3">
    <h1 class="title is-1 has-text-white">Latest News Update...</h1>
  </div>
  <div class="container pt-6 pb-1">
    <div class="box has-background-grey mb-6">
      <div class="columns">
        <div class="column">
          <figure class="image">
            <img src="images/final.jpg">
            <!-- placeholder image from homework assignment 1 -->
          </figure>
        </div>
        <div class="column">
          <h2 class="title is-3 has-text-white has-text-weight-bold">New E.P. "Weekend At Barretts" out now!</h2>
          <p class="has-text-black pb-4">June 1st, 2021</p>
          <p class="pb-3">&emsp;&emsp;The new E.P. from The Takeouts titled "Weekend At Barretts" is now available to stream on
            all platforms!</p>
          <p class="pb-3">&emsp;&emsp;Recorded at Noisy Neighbor Studios in Las Vegas, Nevada, The Takeouts look to introduce
          their new lead singer, Jake, the brother of The Takeouts' bassist Gavin. This short, but action packed E.P.
          was the culmination of stressful times and heartbreak.</p>
          <p class="pb-3">&emsp;&emsp;Recording at Noisy Neighbor Studios gave The Takeouts amazing support from talented musicians
          in the Las Vegas area. Tracks that include drums were tracked by the extremely talented Nick Mendoza,
          who laid down the raddest of beats to three of the four tracks on the E.P. Jacob Mendoza, the brother of Nick,
          provided an other-worldy performance for the lead guitar work on the third track "Please".</p>
          <p class="pb-3">&emsp;&emsp;"Weekend At Barretts" would have never been possible without Barrett himself.
          The up-and-coming producer/sound engineer made tracking this E.P. easier than ever imagined.
            Barrett operates his studio in a manner that most musicians can only ever wish to get out
            of a studio session. Without his attention to detail and knack for a sonic picture, this E.P
            would not exist, period.
          </p>
          <p class="pb-4">&emsp;&emsp;Be on the lookout for new material from The Takeouts as they plan to release a full length
          album sometime in the later months of summer 2021. But for now you can listen to the new E.P.
          "Weekend At Barretts" with the link below!</p>
          <a class="button is-info"
            href="https://open.spotify.com/album/43lmeIrymMWDOGUi9VyqdZ?si=xpor6EEVTYWcuGRwkSXKLQ"
            target="_blank"
            rel="noopener noreferrer"
            >
              Listen On Spotify
          </a>
        </div>
      </div>
    </div>
    <div class="py-3"></div>
    <div class="box has-background-grey">
      <div class="columns">
        <div class="column">
          <figure class="image">
            <img src="images/KJEELocalize.png">
            <!-- placeholder image from homework assignment 1 -->
          </figure>
        </div>
        <div class="column">
          <h2 class="title is-3 has-text-white has-text-weight-bold">The Takeouts on 92.9 KJEE Modern Rock</h2>
          <p class="has-text-black pb-4">May 15th, 2021</p>
          <p class="pb-3">&emsp;&emsp;Santa Barbara's Modern Rock hosted on 92.9 KJEE will be playing The Takeouts' new single
          "Please" this monday May 17th!</p>
          <p class="pb-3">&emsp;&emsp;This acoustic ballad was the first song written for The Takeouts new E.P.
          titled "Weekend At Barretts". The Takeouts had help from Jacob Mendoza on lead guitar providing
          what can only be referred to as a "vibe" produced from six strings.</p>
          <p class="pb-3">&emsp;&emsp;"Please" along with the rest of the tracks on the new E.P. "Weekend At Barretts"
          wouldn't exist without the amazing support from Noisy Neighbor Studios in Las Vegas, Nevada.</p>
          <p class="pb-3">&emsp;&emsp;Be sure to tune into 92.9 KJEE on May 17th at 7 o'clock Pacific Standard Time
            to hear The Takeouts new single "Please".
          </p>
          <p class="pb-3">Listen to the new single "Please" by The Takeouts by clicking the link below!
          </p>
          <a class="button is-info"
            href="https://open.spotify.com/album/0HAGN6XxGXtNU0xHQcJ4UR?si=eJumNSFPSMOYxD4o1Rdsmg"
            target="_blank"
            rel="noopener noreferrer"
            >
              Listen On Spotify
          </a>
        </div>
      </div>
    </div>
    <!-- Newletter button here -->
    <div class="content has-text-centered">
      <h2 class="has-text-danger-dark" v-if="[[=newsnotsigned]]">
        Sign up for the newsletter!
      </h2>
      <h2 class="has-text-warning" v-else>
        You have already signed up the newsletter!
      </h2>
      <a class="button is-primary" href="[[=URL('newsreg', signer=url_signer)]]" v-if="[[=newsnotsigned]]">
        <span> I want to receive the digital newsletter </span>
      </a>
      <a class="button is-primary" href="[[=URL('newsdereg', signer=url_signer)]]" v-else>
        <span> I no longer want to receive the digital newsletter </span>
      </a>
    </div>
  </div>

</div>

[[block page_scripts]]
<script>
  let check_admin_url = "[[=URL('check_admin')]]";
</script>
<script src="js/video_page.js"></script>
[[end]]
