[[extend 'layout.html']]

<div class="section has-background-dark" id="vue-target">
  [[if globals().get('user'):]]
    <a
      class="button is-link"
      href="[[=URL('admin')]]"
      v-if="admin_flag"
    >
      admin
    </a>
  [[pass]]
  <div class="title has-text-centered">
    <h1 class="title has-text-white">Latest News Update...</h1>
  </div>
  <div class="container">
    <figure class="image is-256x256">
      <img src="https://storage.googleapis.com/luca-teaching/lion-layers-2.svg">
      <!-- placeholder image from homework assignment 1 -->
    </figure>
  </div>

</div>

[[block page_scripts]]
<script>
  let check_admin_url = "[[=URL('check_admin')]]";
</script>
<script src="js/video_page.js"></script>
[[end]]
