<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="[[=URL('static')]]/">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;base64,AAABAAEAAQEAAAEAIAAwAAAAFgAAACgAAAABAAAAAgAAAAEAIAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAPAAAAAA=="/>
    <!--<link rel="stylesheet" href="css/bulma.css">-->
    <link rel="stylesheet" href="css/mystyles.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.css">
    [[block page_head]]<!-- individual pages can customize header here -->[[end]]
  </head>
  <body>
    <!-- Logo bar -->
    <nav class="navbar is-black">
      <div class="navbar-menu">
        <!-- changed the in-line css to the bulma way -->
        <div
          class="navbar-start is-flex-grow-1 is-justify-content-center"
        >
        <!-- The class="navbar-item" in the anchor bellow was removed to fix the bad ratio of image-->
          <a href="[[=URL('index')]]">
              <img class="image pt-5" width="580" src="images/logo_side.png">
          </a>
        </div>
      </div>
    </nav>
    <!-- Navigation bar -->
    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <div class="navbar-item">
          <span class="icon"><i class="fa fa-fw fa-chevron-right"></i></span>
        </div>
      </div>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="the-navbar-menu"
           onclick="this.classList.toggle('is-active');document.getElementById(this.dataset.target).classList.toggle('is-active');">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="the-navbar-menu" class="navbar-menu">
        <div
          class="navbar-start"
        >
          <a class="navbar-item" href="[[=URL('index')]]">
            Home
          </a>
          <a class="navbar-item" href="[[=URL('video')]]">
            Music Videos
          </a>
          <a class="navbar-item" href="[[=URL('merch')]]">
            Store
          </a>
          <a class="navbar-item" href="[[=URL('about')]]">
            Bio
          </a>
        </div>

        <div class="navbar-end">

          <div class="navbar-item">
            <!-- Insert shopping cart link below -->
            <a class="button is-warning" href="[[=URL('shopping_cart')]]">
              <span class="icon"><i class="fa fa-fw fa-shopping-cart"></i></span>
            </a>
          </div>

          [[if globals().get('user'):]]
            <div class="navbar-item has-dropdown pb-2 is-hoverable" >
              <a class="navbar-link is-primary">
                [[=globals().get('user').get('email')]]
              </a>
                <div class="navbar-dropdown is-dark">
                  <a class="dropdown-item has-text-black" href="[[=URL('auth/logout')]]">Logout</a>
                  <a class="navbar-item has-text-black" href="[[=URL('profile')]]">Profile</a>
                  <a class="navbar-item has-text-black" href="[[=URL('auth/change_password')]]">Change Password</a></li>
              </div>
            </div>
          [[pass]]
          <div class="navbar-item">
            <div class="buttons">
              [[if globals().get('user'):]]
              [[else:]]
              <a class="button is-link" href="[[=URL('auth/plugin/oauth2google/login', vars=dict(next='../../../index'))]]">Sign In</a>
              [[pass]]
            </div>
          </div>

        </div>
      </div>
    </nav>

    <!-- beginning of HTML inserted by extending template -->
    [[include]]
    <!-- end of HTML inserted by extending template -->
    <footer class="footer">
      <div class="content has-text-centered">
        <div>
          Social Media:
        </div>
        <div class="container">
          <a class="button is-info"
            href="https://twitter.com/TakeoutsCA"
            target="_blank"
            rel="noopener noreferrer"
          >
            <span class="icon"><i class="fa fa-fw fa-twitter"></i></span>
          </a>
          <a class="button is-info"
            href="https://www.instagram.com/takeouts.band/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <span class="icon"><i class="fa fa-fw fa-instagram"></i></span>
          </a>
          <a class="button is-info"
            href="https://open.spotify.com/artist/0oYV5Dp9asa6x5eeJhTqOo?si=mQP4IJnsTfOsPIel77MHSw"
            target="_blank"
            rel="noopener noreferrer"
          >
            <span class="icon"><i class="fa fa-fw fa-spotify"></i></span>
          </a>
        </div>
        This site was made with <a href="https://py4web.com">py4web</a>.
      </div>
    </footer>
  </body>
  <script src="js/sugar.min.js"></script>
  <script src="js/axios.min.js"></script>
  <script src="js/vue.js"></script>
  <script src="js/utils.js"></script>
  [[block page_scripts]]<!-- individual pages can add scripts here -->[[end]]
</html>
