[[extend 'layout.html']]

<div class="section has-background-dark">
  <div class="container">
    <button class="button is-black has-text-white">Filter Results</button>

      [[for row in rows:]]
        [[if column_counter == 0:]]
          <div class="columns mt-6 mb-6">
        [[pass]]
        <div class="column is-3 has-text-centered has-text-white">
          <figure class="image">
            <img src="https://storage.googleapis.com/luca-teaching/lion-layers-2.svg">
          </figure>
          <p>[[=row.item_name]]<br>$[[=row.item_cost]]
          <br><br>
            [[if row.item_stock > 0:]]
              <button class="button is-primary has-text-white">Add To Cart</button>
            [[else:]]
              <button class="button is-primary" title="Disabled button" disabled>Out Of Stock</button>
            [[pass]]
          </p>
        </div>
      <div class="column is-1">
      </div>
      [[column_counter = column_counter + 1]]
            [[if column_counter == 3:]]
                [[column_counter = 0]]
            [[pass]]
            [[if column_counter == 0:]]
              </div>
            [[pass]]
      [[pass]]
  </div>
</div>

      <!--<link rel="stylesheet" href="css/bulma.css">

      <div class="column is-3 has-text-centered has-text-white">
        <figure class="image">
          <img src="https://storage.googleapis.com/luca-teaching/lion-layers-2.svg">
        </figure>
        <p>Item Name<br>$0.00</p>
      </div>
      <div class="column is-1">
      </div>
      <div class="column is-3 has-text-centered has-text-white">
        <figure class="image">
          <img src="https://storage.googleapis.com/luca-teaching/lion-layers-2.svg">
        </figure>
        <p>Item Name<br>$0.00</p>
      </div>
      <div class="column is-1">
      </div>
      <div class="column is-3 has-text-centered has-text-white">
        <figure class="image">
          <img src="https://storage.googleapis.com/luca-teaching/lion-layers-2.svg">
        </figure>
        <p>Item Name<br>$0.00</p>
      </div>
    </div>
    <div class="columns mt-6">
      <div class="column is-3 has-text-centered has-text-white">
        <figure class="image">
          <img src="https://storage.googleapis.com/luca-teaching/lion-layers-2.svg">
        </figure>
        <p>Item Name<br>$0.00</p>
      </div>
      <div class="column is-1">
      </div>
      <div class="column is-3 has-text-centered has-text-white">
        <figure class="image">
          <img src="https://storage.googleapis.com/luca-teaching/lion-layers-2.svg">
        </figure>
        <p>Item Name<br>$0.00</p>
      </div>
      <div class="column is-1">
      </div>
      <div class="column is-3 has-text-centered has-text-white">
        <figure class="image">
          <img src="https://storage.googleapis.com/luca-teaching/lion-layers-2.svg">
        </figure>
        <p>Item Name<br>$0.00</p>
      </div>
    </div>

  </div>
</div>

      -->
