[[extend 'layout.html']]

<div class="section has-background-dark" id="vue-target">
  <div class="container">
    <button class="button is-black has-text-white">Filter Results</button>
      [[for row in rows:]]
        [[if column_counter == 0:]]
          <div class="columns ml-6 mt-6 mb-6 pl-5">
        [[pass]]
        <div class="column is-3 has-text-centered has-text-white">
          <div class="box has-background-grey" href="[[=URL('admin')]]">
            <figure class="image">
              <img src="https://storage.googleapis.com/luca-teaching/lion-layers-2.svg">
            </figure>
            <p>[[=row.item_name]]<br>$[[=row.item_cost]]
            <br><br>
              <a class="button is-info has-text-white" href="[[=URL('merch_item', row.id)]]">Inspect</a>
              [[if row.item_stock > 0:]]
                <a class="button is-primary has-text-white" @click="add_to_cart([[=row.id]])">Add to Cart</a>
              [[else:]]
                <button class="button is-primary" title="Disabled button" disabled>Out Of Stock</button>
              [[pass]]
            </p>
          </div>
        </div>
      <div class="column is-1">
      </div>
      [[column_counter = column_counter + 1]]
            [[if column_counter == 3:]]
                [[column_counter = 0]]
            [[pass]]
            [[if column_counter == 0:]]
              </div>
            [[pass]]
      [[pass]]
  </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let add_to_cart_url = "[[=XML(add_to_cart_url)]]";
</script>
<script src="js/shoppingCart2.js"></script>

[[end]]
