[[extend 'layout.html']]

<div class="section has-background-dark is-justify-content-center" id="vue-target">
    <h1 class="title is-1 has-text-white has-text-centered">[[=user_profile.user_username]]'s Profile</h1>

    <!-- Profile picture -->
    <div class="columns is-centered is-vcentered is-mobile mt-3">
        <img class="image mt-3 is-128x128 is-justify-content-center has-background-dark" src="images/placeholder_profile_picture.png">
        <img class="image mt-3 is-128x128 is-justify-content-center has-background-dark" :src="profile_picture">
        <!-- placeholder image -->

    </div>

    <!-- User Info -->
    <div class="columns is-centered is-vcentered is-mobile">
        <div class="section has-text-centered is-centered is-vcentered is-mobile">
            <a class="button is-primary mb-6" href="[[=URL('edit_profile')]]">Edit Profile</a>
            <a class="button is-info mb-6" href="[[=URL('profile_pic')]]">Change Profile Pic</a>
            <div class="title is-centered is-5 has-text-white"> E-mail: [[=user_profile.user_email]]</div>
            <div class="title is-5 has-text-white"> Name: [[=user_profile.user_first_name]] [[=user_profile.user_last_name]]</div>
            <div class="title is-5 has-text-white"> Username: [[=user_profile.user_username]]</div>
            <a class="button is-danger mt-5" href="[[=URL('auth/change_password')]]">Change Password</a>
        </div>
    </div>
    <div class="columns is-centered is-vcentered is-mobile" v-cloak>
        <div class="field has-addons">
            <p class="control">
                <div v-if="!uploading" class="file is-info">
                    <label class="file-label">
                        <input class="file-input" type="file" @change="upload_file($event)">
                        <span class="file-cta">
                            <span class="file-icon">
                                <i v-if="uploading" class="fa fa-spinner fa-pulse fa-fw"></i>
                                <i v-else class="fa fa-upload fa-fw"></i>
                            </span>
                            <span class="file-label">
                                <span v-if="!uploading">Upload new Picture</span>
                            </span>
                        </span>
                    </label>
                </div>
            </p>
            <p v-if="upload_done" class="control">
                <span> Uploaded file: {{uploaded_file}}</span>
            </p>
        </div>
    </div>
</div>

[[block page_scripts]]
<script>
    let file_upload_url = "[[=XML(picture_upload_url)]]";
    let profile_pic_url = "[[=XML(profile_pic_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]
