[[extend 'layout.html']]

<div class="section has-background-dark is-justify-content-center" id="vue-target">
    <h1 class="title is-1 has-text-white has-text-centered">[[=user_profile.user_first_name]]'s Profile</h1>

    <!-- Profile picture -->
    <div class="columns is-centered is-vcentered is-mobile mt-3">
        <img class="image mt-3 is-128x128 is-justify-content-center has-background-dark" src="images/placeholder_profile_picture.png">
        <!-- placeholder image -->

    </div>

    <!-- User Info -->
    <div class="columns is-centered is-vcentered is-mobile">
        <div class="section has-text-centered is-centered is-vcentered is-mobile">
            <a class="button is-primary mb-6" href="[[=URL('edit_profile')]]">Edit Profile</a>
            <div class="title is-centered is-5 has-text-white"> E-mail: [[=user_profile.user_email]]</div>
            <div class="title is-5 has-text-white"> Name: [[=user_profile.user_first_name]] [[=user_profile.user_last_name]]</div>
            <div class="title is-5 has-text-white"> Username: [[=user_profile.user_username]]</div>
            <a class="button is-danger mt-5" href="[[=URL('auth/change_password')]]">Change Password</a>
        </div>
    </div>
</div>

[[block page_scripts]]
<script>
    let file_upload_url = "[[=XML(picture_upload_url)]]";
    let profile_pic_url = "[[=XML(profile_pic_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]
