[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>


<div class="section has-background-dark" id="vue-target" v-cloak>
  <div class="container">
    <table class="table is-fullwidth has-background-dark has-text-white">
      <thead>
        <th class="has-text-white"></th>
        <th class="has-text-white">Item</th>
        <th class="has-text-white">Cost</th>
        <th class="has-text-white">Remove</th>
      </thead>
      <tbody>
        <tr v-for="c in cart">
          <td><figure class="image is-32x32 has-background-grey">  <img :src="c.item_image"></figure></td>
          <td>{{c.item_name}}</td>
          <td>{{c.item_cost}}</td>
          <td>
            <span class="icon has-text-danger">
              <i class="fa fa-lg fa-trash" @click="remove_from_cart(c._idx)"></i>
            </span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>Total: {{total}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <h2 class="title is-6 has-text-white mt-6">Checkout</h2>
    <div id="container">

    </div>
  </div>

</div>

[[block page_scripts]]
<script>
  let get_cart_url = "[[=XML(get_cart_url)]]";
  let remove_from_cart_url = "[[=XML(remove_from_cart_url)]]";
</script>
<script src="js/shoppingCartPage.js"></script>

<script>

  const allowedPaymentMethods = ['CARD', 'TOKENIZED_CARD'];

  const allowedCardNetworks = ['AMEX', 'DISCOVER', 'JCB', 'MASTERCARD', 'VISA'];

  const tokenizationParameters = {
    tokenizationType: 'PAYMENT_GATEWAY',
    parameters: {
      'gateway': 'example',
      'gatewayMerchantId' : 'abc123'
    }
  };


  const transactionInfo = {
    currencyCode: 'USD',
    totalPriceStatus: 'FINAL',
    totalPrice: '100.00'
  };

  let gpayClient = false;

  function onGooglePaymentButtonClicked() {
  }

  function addGooglePayButton() {
    const button = getGooglePaymentsClient().createButton({
      onClick: onGooglePaymentButtonClicked,
      buttonType: 'short',
      buttonColor: 'black',
    });

    document.getElementById('container').appendChild(button);
  }

  function onGooglePayLoaded() {
    const paymentsClient = getGooglePaymentsClient();
    paymentsClient.isReadyToPay({allowedPaymentMethods: allowedPaymentMethods})
      .then(function(response) {
        console.log('response', response);
        if(response.result) {
          addGooglePayButton();
<!--          prefetchGooglePaymentData();-->
        }
      })
      .catch(function(err) {
        console.error(err);
      });
  }

  function getGooglePaymentsClient() {
    if (!gpayClient) {
      gpayClient = new google.payments.api.PaymentsClient({environment: 'TEST'});
    }

    return gpayClient
  }
</script>

<script async src="https://pay.google.com/gp/p/js/pay.js" onload="onGooglePayLoaded()">
</script>

[[end]]
