[[extend 'layout.html']]

<div class="section has-background-dark is-justify-content-center" id="vue-target">
    <div class="field">
        <label class="label has-text-white">First Name</label>
        <div class="control">
            <input class="input has-background-grey has-text-white" type="text" v-model="first_name" placeholder="Enter First Name">
        </div>
    </div>

    <div class="field">
        <label class="label has-text-white">Last Name</label>
        <div class="control">
            <input class="input has-background-grey has-text-white" type="text" v-model="last_name" placeholder="Enter Last Name">
        </div>
    </div>

    <div class="field">
        <label class="label has-text-white">Username</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input has-background-grey has-text-white" type="text" v-model="user_name" placeholder="Enter Username">
            <span class="icon is-small is-left">
                <i class="fa fa-user-o" aria-hidden="true"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <label class="label has-text-white">Email</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input has-background-grey has-text-white" type="email" v-model="user_email" placeholder="Enter Email">
            <span class="icon is-small is-left">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <label class="label has-text-white">Password</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input has-background-grey has-text-white" type="text" v-model="user_password" placeholder="Enter Password">
            <span class="icon is-small is-left">
                <i class="fa fa-key" aria-hidden="true"></i>
            </span>
        </div>
    </div>

    <div class="field">
        <label class="label has-text-white">Confirm Password</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input has-background-grey has-text-white" type="text" placeholder="Re-enter Password">
            <span class="icon is-small is-left">
                <i class="fa fa-key" aria-hidden="true"></i>
            </span>
        </div>
    </div>

    <div class="field is-grouped">
        <div class="control">
            <a class="button is-link" @click="create_user" href="[[=URL('index')]]">Create Account</a>
        </div>
        <div class="control">
            <a class="button is-link is-light" href="[[=URL('index')]]">Cancel</a>
        </div>
    </div>
</div>

[[block page_scripts]]
<script>
    let create_user_url = "[[=XML(create_user_url)]]";
</script>
<script src="js/account.js"></script>
[[end]]

