[[extend 'layout.html']]

<div class="section has-background-dark">
  <div class="title has-text-centered">
    <h1 class="title has-text-white">Latest Video</h1>
  </div>
  <!-- <div class="container"> Hard coded for specific video(placeholder video)
    <figure>
      <iframe width="1360" height="765" src="https://www.youtube.com/embed/qEkmd1IXq-Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </figure>
  </div> -->
  <div class="container">
    <figure>
      <iframe width="1360" height="765" src="[[=thevideo]]" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </figure>
  </div>

</div>
